<template>
    <div class="card">
        <div class="card-header">
            <i class="fas fa-code"></i> Example Vue Component
        </div>

        <div id="app-4">
            <ol>
                <li :key="todo.id" v-for="todo in todos">
                    <todo-item
                        v-bind:deleteItem="deleteItem"
                        v-bind:editMessage="editMessage"
                        v-bind:todo="todo"
                    ></todo-item>
                </li>
            </ol>

            <div v-if="!editStatus">
                <div id="app-6">
                    <!-- <p>{{ message }}</p> -->
                    <input v-model="message" />
                </div>

                <button v-on:click="add();">add</button>
            </div>

            <div v-if="editStatus">
                <div id="app-6">
                    <!-- <p>{{ message }}</p> -->
                    <input v-model="messageEdit.text" />
                    <input v-model="messageEdit.id" />
                </div>

                <button v-on:click="editData();">Edit</button>
            </div>
        </div>
    </div>
</template>

<script>
import { generateGuid, parseJson } from "../ultity";

export default {
    data() {
        return {
            message: "",
            editStatus: false,
            messageEdit: null,
            todos: [
                { id: 1, text: "Learn JavaScript" },
                { id: 2, text: "Learn Vue" },
                { id: 3, text: "Build something awesome" }
            ]
        };
    },
    methods: {
        add() {
            this.todos.push({ id: generateGuid(), text: this.message });
            this.message = "";
        },
        deleteItem(id) {
            var totosTamp = this.todos;
            _.remove(totosTamp, function(o) {
                return o.id == id;
            });
            this.todos = parseJson(totosTamp);
        },
        editMessage(id) {
            let index = _.findIndex(this.todos, function(o) {
                return o.id == id;
            });
            let editData = parseJson(this.todos[index]);
            this.messageEdit = editData;

            this.editStatus = true;
        },
        editData() {
            let messageEdit = parseJson(this.messageEdit);

            let index = _.findIndex(this.todos, function(o) {
                return o.id == messageEdit.id;
            });
            this.todos[index] = messageEdit;
            this.todos = parseJson(this.todos);

            this.messageEdit = null;
            this.editStatus = false;
        }
    }
};
</script>
