<template>
  <div>
    <p>{{ todo.text }}</p>
    <button v-on:click="deleteItem(todo.id);">delete</button>
    <button v-on:click="editMessage(todo.id);">edit</button>
  </div>
</template>

<script>
export default {
  props: ["todo", "deleteItem", "editMessage"],
};
</script>